.container {
    text-align: center;
    padding: 20px;
}

.sectionTitle {
    font-size: 2rem;
    color: #ff56a2;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    
}

.card {     
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .image {
    transform: scale(1.1);
}

.itemName {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
    .grid {
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}