body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    .popularItemsGrid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}